<!DOCTYPE html>
<html lang="en">
<script>

    function goToParentPage() {
        var currentUrl = window.location.href; // Get the current URL
        var parentUrl = currentUrl.substring(0, currentUrl.lastIndexOf('/')); // Remove the last part of the URL
        window.location.href = parentUrl; // Navigate to the parent URL
    }
        
</script>
<head>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SECche</title>
    <style>
        table.data {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="headingbutton">
        <a href="#" id="homeLink" onclick="goToParentPage()"><h1>SECche</h1></a>
    </div>
    <h2>{{ errorMessage }}<h2>
    <div class="searchbox">
        <form id="redirectForm" method="POST" action="">
            <input id="tickerInput" name="text">
        </form>
        <script>
        document.getElementById("redirectForm").onsubmit = function() {
            var tickerValue = document.getElementById("tickerInput").value;
            this.action = "/" + tickerValue;
        };
        </script>
    </div>
</body>
</html>
