<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SECche</title>
    <style>
        table.data {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>SECche</h1> 
    <h2>{{ errorMessage }}<h2>
    <form id="redirectForm" method="POST" action="">
        <input id="tickerInput" name="text">
        <input type="submit" value="Search Ticker">
    </form>
    <script>
    document.getElementById("redirectForm").onsubmit = function() {
        var tickerValue = document.getElementById("tickerInput").value;
        this.action = "/" + tickerValue;
    };
    </script>
</body>
</html>
